body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color:rgb(250, 248, 255);
  direction: rtl;
}

.App{
  position: relative;
  width: 50%;
  margin: auto;
  margin-top: 4%;
}
.question{
  margin-right: 5%;
  font-size: large;
}
.answer{
  position: relative;
  border: 2px solid #e0e2ee;
  border-radius: 15px;
  height: 50%;
  width: 35%;
  margin:auto;
  margin-top: 2%;
  background-color:#ffffff;
  transition: background-color 1s,color 1s;
  
}
.answer:hover{
  background-color: #5a4dff;
  color: #ffffff;
  border: 2px solid #5a4dff;

}
.buttons{
  position:relative;
  float: left;
  color: black;
  margin-bottom: 0px;
}
.btnPrev{
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  transition: background-color 1s,color 1s;

}
.btnPrev:hover{
  background-color: #5a4dff;
  color: #ffffff;
  border: 2px solid #5a4dff;
}
.backTotart{
  position: relative;
  transition: background-color 0.7s,color 0.7s;
  border: 2px solid #e0e2ee;
  border-radius: 5px;
  margin-top:45%;
  background-color:#ffffff;
  float: right;
  
}
.backTotart:hover{
  background-color: #5a4dff;
  color: #ffffff;
  border: 2px solid #5a4dff;
}

.finalDivRight{
  position: relative;
  background-color: white;
  border:2px solid #e0e2ee;
  border-radius: 13px;
  float: right;
  padding: 2%;
  padding-left: 20%;
  max-width: 28%;
  margin: auto;
}


.finalDivLeft{
  position: relative;
  background-color: white;
  border:2px solid #e0e2ee;
  border-radius: 13px;
  float: left;
  padding: 2%;
  padding-bottom: 24%;
  max-width: 30%;
  margin: auto; 
}

.backbutton{
  position: relative;
  /* border:2px solid black; */
  padding: 40%;
  margin: auto;
  text-align: center;
}
.backPrevByKey{

  background-color: #5a4dff;
  color: #ffffff;
  border: 2px solid #5a4dff;
}

.answerSelectedByKey{
  background-color: #5a4dff;
  color: #ffffff;
  border: 2px solid #5a4dff;

}
.FirstPage{
  padding: 10%;
}
.btnStart{
  position: relative;
  padding: 3%;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  margin-top: 6%;
  transition: background-color 1s,color 1s;

}
.btnStart:hover{
  background-color: #5a4dff;
  color: #ffffff;
  border: 2px solid #5a4dff;
}